body {
    width: 400px;
    font-size: 18px;
    background-color: white;
    display: flex;
    flex-flow: column;
    text-align: center;
}

@mixin text-font {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

@mixin title-font($weight) {
    font-family: 'Fraunces', serif;
    font-weight: $weight; /*700, 900*/
}

h1, h2, h3, a {
    @include title-font(900);
    text-align: center;
}

h4, .names {
    @include title-font(700);
    text-align: center;
}

.transform, .stand-out {
    p {
        @include text-font;
        color: hsl(232, 10%, 55%);
    }
}

.transform, .stand-out, .more-images {
    img {
        width: 400px;
        height: auto;
    }
}


h1, h4 {
    text-transform: uppercase;
}

h2, a, .names {
    color: hsl(212, 27%, 19%);
}

.pageheader {
    color: white;
    background-image: url(images/photos/image-header.jpg);
}

.testimonials {
    box-sizing: border-box;
    padding: 10%;
    img {
        border: 0px solid;
        border-radius: 50%;
    }
    p {
        font-style: bold;
    }
}

.flattery {
    color: hsl(213, 9%, 39%);
}

h4, .profession {
    color: hsl(210, 4%, 67%);
}

header {
    display: none;
}

.graphic-design {
    background-image: url(images/photos/image-graphic-design.jpg);
    color: hsl(167, 40%, 24%);
}

.photography {
    background-image: url(images/photos/image-photography.jpg);
    color: hsl(198, 62%, 26%);
}

footer {
    background-color: hsl(168, 34%, 41%);
    /*space the about-services-projects (evenly? between? about?)*/
}